In [1]:
import pandas as pd

datos=pd.read_csv("listado-general.csv")
datos.head()

             a
0     aaronita
1     aarónico
2          aba
3        ababa
4  ababillarse

In [2]:
datos.var()

Series([], dtype: float64)

In [3]:
datos.shape

(80382, 1)

In [4]:
datos.columns

Index(['a'], dtype='object')

In [5]:
datos['a'] = datos[datos['a'].str.len()==5]

In [6]:
datos.head()

       a
0    NaN
1    NaN
2    NaN
3  ababa
4    NaN

In [7]:
datos=datos['a'].dropna(axis=0)

In [8]:
datos.head()

3     ababa
13    abacá
15    abada
22    abadí
29    abajo
Name: a, dtype: object

In [9]:
#datos.reset_index()

In [10]:
datos.shape

(4895,)

In [11]:
datos.to_csv("palabrasSecretas.csv", index=False)

In [12]:
palabrasSecretas=pd.read_csv('palabrasSecretas.csv')
palabrasSecretas.head()

       a
0  ababa
1  abacá
2  abada
3  abadí
4  abajo

In [13]:
palabrasSecretas.shape

(4895, 1)

In [14]:
'''palabrasSecretas = palabrasSecretas[palabrasSecretas["a"].str.contains("á") == False] 
print(palabrasSecretas.shape)

palabrasSecretas = palabrasSecretas[palabrasSecretas["a"].str.contains("é") == False] 
print(palabrasSecretas.shape)

palabrasSecretas = palabrasSecretas[palabrasSecretas["a"].str.contains("í") == False] 
print(palabrasSecretas.shape)

palabrasSecretas = palabrasSecretas[palabrasSecretas["a"].str.contains("ó") == False] 
print(palabrasSecretas.shape)

palabrasSecretas = palabrasSecretas[palabrasSecretas["a"].str.contains("ú") == False] 
print(palabrasSecretas.shape)

palabrasSecretas = palabrasSecretas[palabrasSecretas["a"].str.contains("ñ") == False] 
print(palabrasSecretas.shape)'''

for letra in ("á", "é", "í", "ó", "ú", "ñ", 'ü'):
    palabrasSecretas = palabrasSecretas[palabrasSecretas["a"].str.contains(letra) == False]
    print(palabrasSecretas.shape)

(4740, 1)
(4630, 1)
(4405, 1)
(4130, 1)
(4052, 1)
(3953, 1)
(3945, 1)

In [15]:
palabrasSecretas.head()

       a
0  ababa
2  abada
4  abajo
5  abano
7  abate

In [16]:
palabrasSecretas.to_csv("palabrasSecretas.csv", index=False)